body{
  background-image:url("back2.jpg");
  background-size:cover;
   
} 
div{
    background-color: #a8dadc;
    opacity: 0.78;

    margin-top: 90px;
    width: 250px;
    height: 350px;
    border: 2px solid black;
    border-radius: 6px;
    box-shadow: 2px 2px 5px;
    text-align: center;
    font-family :Verdana, Geneva, Tahoma, sans-serif;
    display:block;
    margin-left:auto;
    margin-right:auto;
}
h1.ex1:hover{
     font-size: 40px;
}
.btn-style{
   display: block;
   margin-left: auto;
   margin-right: auto;
   margin-bottom: 8px;
   width: 230px;
   height: 30px;
   font-weight:bolder;
   border: 2px solid black;
   border-radius: 5px;
   color: aliceblue;
}
h2{
    margin-top: 30px;
    font-size: 15px;
}
.btn-increment{
    
    background-color: #1b4332;
}

button.btn-style:hover{
   box-shadow: 2px 2px 5px black;
   opacity: 0.75;

}
.btn-save{
    background-color: #081c15;
}
.btn-newEntry{
    background-color: #264653;
   
}